*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-abc-background_23-2150598241.jpg?t=st=1737136045~exp=1737139645~hmac=c58e1dd6db26643ac611a5014b0dc34630e5282f31519d3967e439d7209d9023&w=740");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    height: 100%;
    width: 100%;
    
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    position: fixed;
    z-index: 9999;  
    background-color: black;  
}
ul{
    display: flex;
    gap: 20px;
    scale: 1.25;
}
ul>a{
    font-size: 30px;
    gap: 20px; 
    color: white;
    text-decoration: none;
    gap: 15px;
    border: 1px solid white;
    scale: 1.2;
}
ul>a:hover{
    color: blue;
    scale: 1.75;
}

#btn{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    position: fixed;
    top: 30%;
    right:3%;
    border-radius: 30%;
}
#btn>a{
    text-decoration: none;
    color: white;
}
#btn:hover{
    border-radius: 50%;
    scale: 0.75;
    background-color: blue;
}
#logo>i{
    font-size: 50px;
    color: white;
   
}
#section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slide{
    height: 300px;
    width: 900px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 5%;
    background-color: black;
    position: relative;
    flex-wrap: wrap;
}
.slide:hover{
    background-color: red;
}
.slide>h1{
    text-shadow: 10px 10px 10px yellow;
    font-size: 150px;
    color: white;

    
}
.slide>p{
    font-size: 80px;
    color: blue;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 9999;
    text-shadow:  10px 0px 10px orange;
}
.slide>img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 25px -12px 30px yellow ;
    
}
.slide>img:hover{
    scale: 1.2;
    opacity:0.75 ;
    box-shadow: 40px 40px 40px aqua;
}